.head-scetion {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 60px;
    letter-spacing: -5px;
    font-family: $globalfonts;
    color: rgba($grayColor, .2);
    margin-bottom: 0px;

   
    &::before {
        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit';
        position: absolute;
        font-size: 30px;
        bottom: 30px;
        left: 50%;
        letter-spacing: normal;
        transform: translateX(-50%);
        color: $blueColor;

        @media #{$maxMobile} {
            font-size: 20px;
        }

        @media #{$minSmall} {
            bottom: -10px;
        }

        @media #{$minMedium} {
            bottom: 20px;
        }
    }
}