$maxMobile : '(max-width: 767px)';
$minSmall  : '(min-width: 768px)';
$minMedium :  '(min-width: 991px)';
$minLarge  : '(min-width: 1200px)';



$grayColor : #2B2C28;
$blueColor : #339989;

$globalfonts: 'IM Fell English SC', serif;